@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
:root {
  --nav-height: 8.125rem;
  --background-color: #652BE1;
  --color-text: #BCA9E4;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition: background 1s ease;
}

html {
  font-size: 62.5%;
  max-width: 100%;
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 46%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  background: var(--background-color);
  box-sizing: border-box;
  height: 100vh;
}
@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

::selection {
  background-color: #3B1195;
  color: #F9F9F9;
}

img {
  width: 46%;
}
@media only screen and (max-width: 75em) {
  img {
    width: 60%;
  }
}

svg {
  cursor: pointer;
}

strong {
  font-weight: 700;
}

main {
  overflow: hidden;
}
@media only screen and (max-width: 37.5em) {
  main {
    overflow: scroll;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 2.8rem;
  color: var(--color-text);
}

h1,
h2,
h3 {
  margin: 4rem 0;
  font-size: 2.4rem;
}

a {
  color: var(--color-text);
  text-decoration: none;
}
a:hover {
  color: #FF9D00;
}

p {
  font-size: 1.8rem;
  font-weight: 300;
}
@media only screen and (max-width: 37.5em) {
  p {
    font-size: 2.4rem;
    line-height: 4rem;
  }
}

section {
  margin-right: 8rem;
  margin-left: 8rem;
  margin-bottom: 8rem;
}
@media only screen and (max-width: 37.5em) {
  section {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}
section p {
  font-size: 1.8rem;
}

li {
  font-size: 1.4rem;
}

.form-inline input {
  vertical-align: middle;
  padding: 1.6rem;
  background-color: #F9F9F9;
  border: none;
  font-family: "Montserrat", sans-serif;
  width: 32rem;
}
@media only screen and (max-width: 37.5em) {
  .form-inline input {
    visibility: hidden;
  }
}

.form-inline button {
  padding: 1.6rem;
  border: none;
  background-color: transparent;
  color: #652BE1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  margin-left: -10rem;
  outline: none;
}
@media only screen and (max-width: 75em) {
  .form-inline button {
    margin-top: 0.2rem;
    padding: 1.4rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .form-inline button {
    margin-top: 0.5rem;
    padding: 1rem;
    margin-left: -10rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .form-inline button {
    visibility: hidden;
  }
}
.form-inline button:active {
  color: #FF9D00;
}

textarea:focus,
input:focus {
  outline: none;
}

#form-confirmation {
  visibility: hidden;
  margin-top: 0.6rem;
  margin-bottom: 1rem;
  color: #7ed321;
}
#form-confirmation p {
  font-size: 1.4rem;
}
@media only screen and (max-width: 37.5em) {
  #form-confirmation {
    visibility: hidden;
    display: none;
  }
}

.form-inline-mobile input {
  visibility: hidden;
  display: none;
}
@media only screen and (max-width: 37.5em) {
  .form-inline-mobile input {
    visibility: visible;
    display: block;
    vertical-align: middle;
    padding: 1.6rem;
    background-color: #F9F9F9;
    border: none;
    font-family: "Montserrat", sans-serif;
    width: 32rem;
    border-radius: 0rem;
  }
}

.form-inline-mobile button {
  visibility: hidden;
  display: none;
}
@media only screen and (max-width: 37.5em) {
  .form-inline-mobile button {
    visibility: visible;
    display: block;
    padding: 1.6rem;
    border: none;
    background-color: #3B1195;
    color: #F9F9F9;
    font-family: "Montserrat", sans-serif;
    width: 32rem;
    font-weight: 700;
    cursor: pointer;
  }
}

#form-confirmation-mobile {
  visibility: hidden;
  display: none;
}
@media only screen and (max-width: 37.5em) {
  #form-confirmation-mobile {
    visibility: hidden;
    display: block;
    margin-top: 2rem;
    margin-bottom: 8rem;
    color: #3B1195;
    background-color: #F9F9F9;
    padding: 1.2rem;
    border-radius: 6rem;
  }
  #form-confirmation-mobile p {
    font-size: 1.8rem;
  }
}

footer {
  position: absolute;
  display: flex;
  align-items: center;
  height: var(--nav-height);
  bottom: 0;
  justify-content: center;
  width: 100vw;
}
@media only screen and (max-width: 37.5em) {
  footer {
    visibility: hidden;
    display: none;
  }
}
footer .footer__nav--item {
  padding: 0 2rem;
}
footer .footer__nav--social {
  padding: 0 1rem;
}

footer svg {
  margin-top: 1rem;
  cursor: pointer;
}

.spacing {
  visibility: hidden;
  display: none;
}
@media only screen and (max-width: 37.5em) {
  .spacing {
    visibility: visible;
    display: block;
    margin-bottom: 8rem;
  }
}

.footer__mobile--item {
  visibility: hidden;
  display: none;
}
@media only screen and (max-width: 37.5em) {
  .footer__mobile--item {
    visibility: visible;
    display: block;
    margin: 1rem;
  }
}

.footer__mobile--container {
  visibility: hidden;
  display: none;
}
@media only screen and (max-width: 37.5em) {
  .footer__mobile--container {
    visibility: visible;
    display: block;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0 4rem;
  }
}
.footer__mobile--container svg {
  margin: 2rem;
  margin-top: 4rem;
  margin-bottom: 8rem;
}

.flex-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  text-align: right;
}
@media only screen and (max-width: 37.5em) {
  .flex-container {
    flex-direction: column;
    text-align: center;
  }
}

.protaski-logo {
  cursor: default;
}
@media only screen and (max-width: 37.5em) {
  .protaski-logo {
    margin-top: 20rem;
  }
}

.description {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .description {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}
.description h1 {
  font-size: 1.8rem;
  font-weight: 300;
  margin: 0;
}
@media only screen and (max-width: 37.5em) {
  .description h1 {
    font-size: 2.4rem;
    line-height: 4rem;
  }
}

.subscribe p {
  color: #F9F9F9;
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 0.6rem;
}
@media only screen and (max-width: 37.5em) {
  .subscribe p {
    visibility: hidden;
  }
}

@media only screen and (max-width: 37.5em) {
  .protaski-demo {
    visibility: hidden;
    display: none;
  }
}

.protaski-mobile {
  visibility: hidden;
  display: none;
}
@media only screen and (max-width: 37.5em) {
  .protaski-mobile {
    visibility: visible;
    display: block;
  }
}

@media only screen and (max-width: 37.5em) {
  .google-play {
    visibility: hidden;
  }
}

.contain {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-item-left img {
  width: 26%;
}

.flex-item-right {
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
  margin-left: 8rem;
}
@media only screen and (max-width: 75em) {
  .flex-item-right {
    margin-left: 8rem;
    width: 60%;
  }
}
@media only screen and (max-width: 56.25em) {
  .flex-item-right {
    margin-left: 8rem;
    width: 80%;
  }
}
@media only screen and (max-width: 37.5em) {
  .flex-item-right {
    flex-direction: column;
    text-align: center;
    margin: auto;
  }
}
@media only screen and (max-width: 37.5em) {
  .flex-item-right img:nth-child(2) {
    width: 90%;
  }
}
@media only screen and (max-width: 37.5em) {
  .flex-item-right img:last-child {
    width: 70%;
  }
}

.google-play-mobile {
  visibility: hidden;
  display: none;
}
@media only screen and (max-width: 37.5em) {
  .google-play-mobile {
    visibility: visible;
    display: block;
    margin: auto;
    margin-top: 4rem;
  }
}

.subscribe-mobile {
  visibility: hidden;
  display: none;
}
@media only screen and (max-width: 37.5em) {
  .subscribe-mobile {
    visibility: visible;
    display: block;
    margin-top: 4rem;
    color: #F9F9F9;
  }
}
.subscribe-mobile p {
  font-weight: 700;
  font-size: 1.8rem;
}

.legal {
  display: flex;
  align-items: center;
  height: var(--nav-height);
  justify-content: center;
}
.legal .legal__nav {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  height: 100%;
}
.legal .legal__nav--social {
  padding: 0 1rem;
}
@media only screen and (max-width: 37.5em) {
  .legal {
    visibility: hidden;
    display: none;
  }
}
.legal svg {
  margin-top: 1rem;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
