.description {
    margin-top: $small-margin;
    margin-bottom: $small-margin;
}

.subscribe p {
    color: $color-cultured;
    font-weight: 700;
    font-size: $small-font-size;
    margin-top: $default-margin;
    margin-bottom: $xsmall-margin;
}

.flex-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    text-align: right;
}

.contain {
    @include center
}

.flex-item-left img {
    width: 25%;
}

.flex-item-right {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
    margin-left: $large-margin;
}