footer {
    position: absolute;
    display: flex;
    align-items: center;
    height: var(--nav-height);
    bottom: 0;

    .footer__nav {
        align-self: stretch;
        display: flex;
        align-items: center;
        margin-left: auto;
        padding: 0 4rem;
        height: 100%;

        &>p {
            font-size: $default-font-size;
            margin: 0;
            color: white;

        }
    }

    svg {
        margin-left: $small-margin;
        cursor: pointer;
    }
}


// footer {
//     position: absolute;
//     bottom: 0;
//     z-index: 1;
//     padding: 2rem;
// }