footer {
    position: absolute;
    display: flex;
    align-items: center;
    height: var(--nav-height);
    bottom: 0;
    justify-content: center;
    width: 100vw;

    @include respond(phone) {
        position: relative;
        flex-direction: column;
        height: 40%;
        bottom: 0;
        background-color: $color-persian-indigo;
    }

    .footer__nav--item {
        padding: 0 2rem;

        @include respond(phone) {
            padding: $small-padding;
        }

        &:nth-child(3) {
            visibility: hidden;
            display: none;

            @include respond(phone) {
                visibility: visible;
                display: block;
            }
        }

        &:last-child {
            @include respond(phone) {
                visibility: hidden;
                display: none;
            }
        }
    }

    .footer__nav--social {
        padding: 0 1rem;

        @include respond(phone) {}
    }
}

footer svg {
    margin-top: $small-margin;
    cursor: pointer;
}