.form-inline input {
    vertical-align: middle;
    padding: $small-padding;
    background-color: $color-cultured;
    border: none;
    margin-bottom: $medium-margin;
    font-family: $montserrat;
    width: 32rem;

    @include respond(phone) {
        visibility: hidden;
    }
}

.form-inline button {
    padding: $small-padding;
    border: none;
    background-color: transparent;
    color: $color-han-purple;
    font-family: $montserrat;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    margin-left: -10rem;

    @include respond(tab-land) {
        margin-top: .2rem;
        padding: 1.4rem;
    }

    @include respond(tab-port) {
        margin-top: .5rem;
        padding: 1rem;
        margin-left: -10rem;
    }

    @include respond(phone) {
        visibility: hidden;
    }
}

textarea:focus,
input:focus {
    outline: none;
}

// mobile
.form-inline-mobile input {
    visibility: hidden;
    display: none;

    @include respond(phone) {
        visibility: visible;
        display: block;
        vertical-align: middle;
        padding: $small-padding;
        background-color: $color-cultured;
        border: none;
        font-family: $montserrat;
        width: 32rem;
    }
}

.form-inline-mobile button {
    visibility: hidden;
    display: none;

    @include respond(phone) {
        visibility: visible;
        display: block;
        padding: $small-padding;
        border: none;
        background-color: $color-persian-indigo;
        color: $color-cultured;
        font-family: $montserrat;
        width: 32rem;
        font-weight: 700;
        cursor: pointer;
        margin-bottom: $large-margin
    }
}