.form-inline input {
    vertical-align: middle;
    padding: $small-padding;
    background-color: $color-cultured;
    border: none;
    margin-bottom: $medium-margin;
    font-family: $montserrat;
    width: 32rem;
}

.form-inline button {
    padding: $small-padding;
    border: none;
    background-color: $color-cultured;
    color: $color-han-purple;
    font-family: $montserrat;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    margin-left: -9rem;

    @include respond(tab-land) {
        margin-top: .2rem;
        padding: 1.4rem;
    }

    @include respond(tab-port) {
        margin-top: .5rem;
        padding: 1rem;
        margin-left: -10rem;
    }
}

textarea:focus,
input:focus {
    outline: none;
}