body {
    font-family: $montserrat;
    line-height: $default-line-height;
    color: var(--color-text);
}

h1,
h2,
h3 {
    margin: $medium-margin 0;
    font-size: $medium-font-size;
}

a {
    color: var(--color-text);
    text-decoration: none;

    &:hover {
        color: $color-orange-peel;
    }
}

p {
    font-size: $default-font-size;
    font-weight: 300;
}

section {
    margin-right: $large-margin;
    margin-left: $large-margin;
}

li {
    font-size: $small-font-size;
}