// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$color-cultured: #F9F9F9;
$color-silver-chalice: #AAAAAA;
$color-orange-peel: #FF9D00;
$color-wisteria: #BCA9E4;
$color-persian-indigo: #3B1195;
$color-han-purple: #652BE1;
$color-sheen-green: #7ed321;


:root {
    --nav-height: 8.125rem;
    --background-color: #{$color-han-purple};
    --color-text: #{$color-wisteria};
}

// font
$default-font-size: 1.8rem;
$small-font-size: 1.4rem;
$medium-font-size: 2.4rem;
$large-font-size: 2.8rem;

$montserrat: 'Montserrat',
sans-serif;

// spacing
$default-line-height: 2.8rem;
$medium-line-height: 4rem;
$xsmall-padding: 1.2rem;
$small-padding: 1.6rem;
$default-margin: 2rem;
$xsmall-margin: .6rem;
$small-margin: 1rem;
$medium-margin: 4rem;
$large-margin: 8rem;